body {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: regular;
    font-family: Roboto, sans-serif;
    background-color: #849d8f;
}

.main-content h1 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.catalog-content h1 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.catalog-content h2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: medium;
}

/* ---------------------------------- Сетка */

.clearfix {
    display: table;
    content: "";
    clear: both;
} 

header,
main .main-container,
footer {
    margin-left: 2.3%;
    margin-right: 2.3%;
    min-height: 64px;   
}

.logo-container {
    position: relative;
    width: 154px;
}

.logo {
    display: block;
    position: absolute;
    left: -5px;
    margin-right: 15px;
    padding-top: 10px;
    width: 154px;
}

.main-header .container {
    width: 100%;
}

.main-header .container .container {
    padding-top: 22px;
}

.main-navigation {
    float: left;
    margin-left: 164px;
    width: 400px;
}

.user-block {
    float: right;
    position: relative;
    width: 265px;
}

.contacts {
    position: absolute;
    right: 40px;
}

.main-header {
    margin-bottom: 25px;
}

/* Для главной страницы */

a.btn {
    display: block;
    margin-bottom: 39px;
}

.wrapper {
    width: 100%;
    margin-bottom: 35px;
}

.banner {
    float: left;
    width: 48.9%;
    min-height: 220px;
    border-radius: 15px;
}

.banner:nth-child(even) {
    float: right;
}

.about-gllacy {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.about-gllacy .col {
    float: left;
    padding-left: 50px;
    width: 491px;
}

.about-gllacy .col:nth-child(even) {
    float: right;
}

/* Хлебные крошки */

.page-title {
    width: 100%;
    margin-bottom: 35px;
}

.container-map {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 430px;
}

.info {
    position: absolute;
    top: 40px;
    right: 40px;
}

/* Фильтры */

.filters-block {
    width: 866px;
    margin-bottom: 32px;
    margin-right: auto;
}

.sort {
    float: left;
    width: 193px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.price {
    float: left;
    position: relative
    width: 218px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fatness {
    float: right;
    width: 415px;
    margin-bottom: 15px;
}

.filling {
    clear: both;
    width: 866px;
}

/* Каталог */

.catalog {
    width: 100%;
    font-size: 0;
    margin-bottom: 35px;
}

article {
    display: inline-block;
    vertical-align: top;
    width: 23.35%;
    margin-right: 2.2%;
}

article:nth-child(4n) {
    margin-right: 0;
}

/* Пагинация */

.pagination {
    width: 100%;
}

/* Подвал */ 

.main-footer {
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid #a9bbb1;
}

.footer-social {
    float: left;
    width: 267px;
    margin-right: 2.2%;
}

.footer-info {
    float: left;
    width: 560px;
    margin-right: 2.2%;
}

.footer-info .left-col {
    float: left;
}

.footer-info .right-col {
    float: right;
}

.footer-info::after {
    display: table;
    content: "";
    clear: both;
}

.footer-copyright {
    float: right;
    width: 267px;
}

/* Фоны */

.raspberry {
    background-image: url("../img/raspberry-background.jpg");
}

.chocolate {
    background-image: url("../img/chocolate-background.jpg");
}

.about-gllacy {
    background-image: url("../img/waffle-background.jpg");
}

.blog {
    background-image: url("../img/strawberry-background.jpg");
}

.subscribe {
    
}

/* Карточки товаров */

h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.article-title {
    color: #ffffff;
    text-decoration: none;
}

.undisplayed {
    display: none;
}

/* Cтили для главного меню */

.main-menu {
    margin: 10px 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.main-menu > li {
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: top;
}

.main-menu > li > a {
    padding: 0;
    margin: 13px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #adbdb4;
}

.main-menu a.active {
    color: #ffffff;
    background-color: #d07058;
}
  
.main-menu > li > a:hover,
.main-menu > li > a:active,
.main-menu > li > a.active {
    padding: 8px 13px;
    margin: 0;
    color: #333333;
    text-decoration: none;
    background-color: #f7f6f3;
    border: 0;
    border-radius: 50px;
} 

.main-menu > li > a:active {
    border-top: 2px solid #696969;
    padding-top: 6px;
}

.main-menu > li > a.active {
    color: #ffffff;
    background-color: #d07058;
}

.main-menu .sub-menu {
    display: none;
    position: absolute;
    top: 27px;
    left: -6px;
    width: 143px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.sub-menu a {
    display: block;
    padding: 9px 21px 14px 21px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
    border-radius: inherit;
}

.sub-menu li:first-child a {
    font-weight: bold;
    margin: 0 8px;
    padding: 9px 13px 14px 13px;
    border-bottom: 1px solid #d1d0ce;
}

.sub-menu li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.sub-menu li:hover {
    background-color: #fbded7;
}

.sub-menu li:active {
    background-color: #f6b5a5;
}

/* Хлебные крошки */

.breadcrumbs {
    margin-bottom: 0px;
    padding: 0;
    font-size: 0px;
    list-style: none;  
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    font-size: 0px;
}

.breadcrumbs a,
.breadcrumbs span {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #adbdb4;
} 

.breadcrumbs span {
    border: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}

/* Пагинация */


/* Стили для ползунка с ценой */

.slider {
    position: relative;
    width: 218px;
    height: 36px;
    background-color: #aabbb1;
    border-radius: 50px;
}

.line-1,
.line-2 {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 188px;
    height: 4px;
    background-color: #d1dad3;
}

.line-2 {
    left: 54px;
    width: 78px;
    background-color: #f8f7f4;
}

.circle-1,
.circle-2 {
    position: absolute;
    top: 8px;
    left: 34px;
    width: 20px;
    height: 20px;
    background-color: #f8f7f4;
    border-radius: 50%;
}

.circle-2 {
    left: 132px;
}